<section id="hero" class="blog-hero"
    [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + blog.image + ')'}">
    <div class="title">
        {{blog.title}}
    </div>
    <div class="published-date" *ngIf="blog.displayEdited">
        Published on: {{blog.displayPublished}}
        <br>
        Last edited: {{blog.displayEdited}}
    </div>
    <div class="published-date" *ngIf="!blog.displayEdited">
        Published on: {{blog.displayPublished}}
    </div>
    <div class="read-time">
        Read Time: {{blog.readTime}}
    </div>
</section>

<section class="content-section">
    <div class="title">
        {{blog.content[0]}}
    </div>
    <blockquote class="sidekick">
        Every story has a beginning and an end. What lies between those two points is the journey.
        <cite> R.C Richter</cite>
    </blockquote>
    <div class="body">
        <p class="dropcap">
            Having grown up in Colorado, my family always had loose connections to Germany. From a family recipe for
            cottage cheese dumplings called <em> "Käsmolish" </em> (this was the first time I had ever tried to
            write that word) to a grandmother who spoke a small amount of German. But for 22 years, I had never met
            anyone from Germany until I began my graduate studies in Vancouver, CA. I quickly found myself with a German
            roommate, friends from my studies and before I knew it, most of my friends were German. <strong>I seemed to
                get along well with Germans! </strong>
            <br /> <br />
            With all of this German influence, I slowly learned about various German traditions: <em> Glühwein
                around Christmas, Spätzle , How to drink for Vatertag/Herrentag. </em> Soon I
            found myself adoring traditions I had never known, and looked forward to doing each year. <strong> Tradition
                and culture became important to me! </strong>
            <br /> <br />
            Once I finished my master's and with every penny I had saved during my program (<em>roughly around 3,000
                USD</em>), I took a many-month vacation to travel the world and learn cultures I had never
            been exposed to. I had begun in Japan, but even there I quickly found myself meeting large groups of
            Germans. Due to this, I spontaneously decided to take a month trip to Germany and stay on the couches of the
            people I met traveling - <em> Berlin, Hamburg, Munich, Kaiserslautern. </em> In each city I enjoyed learning
            what was unique about it, trying the local specialites and exploring the picturesque city-scape. <strong>The
                cities seemed to be built with the individual in mind.</strong>
        </p>
        <br>
        <div class="divider"></div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 image-text sub-title">
                    Work-centric life is draining...
                </div>
                <div class="col-md-9 content-image" data-aos="fade-left">
                    <img src="assets/img/SJ.jpg" alt="">
                </div>
            </div>
        </div>
        <br>
        <p>
            At the end of my travels, I took up a job in San Jose, California and started my career in tech. Now in San
            Jose, much like most of the US, a car is absolutely essential to getting around the city, to work and even
            to the grocery store. The irony
            is I had been offered a substantial salary, and yet needed to borrow money from my mom in order to buy a
            car. Without knowing it, this was the first nail in the coffin: <strong>Owning a car is expensive both
                monetarily and environmentally while being rather annoying in California.</strong> At first I enjoyed
            the change in pace quite a bit, but when you spend an hour or more to get to work each day, you can feel
            your soul being drained.
            <br> <br>
            While in Vancouver, I enjoyed the benefits of a public transit system <em>actually</em> designed for the
            individual. This is not the case either in Colorado or in California. It is an unfortunate <a
                href="https://youtu.be/oOttvpjJvAo">truth</a> with
            countless cases of transit systems being gutted by larger car companies to promote car sales. The big take
            away from my first year in San Jose was: <strong>This city was not designed for me.</strong>
            <br> <br>
            Soon, I found myself traveling down to Santa Cruz nearly every weekend - a cute little beach town where
            surfing
            and skating still were strong in the peoples mind. I quickly made surf-friends in town and they showed me
            the ways of the waves, which became my primary hobby. Santa Cruz is not a big place, so getting around was
            much easier - in fact even walkable. But there was something else that drew me to the town - the people were
            <em>real</em>. Sure, I wasn't running into Tim Cook at the coffee shop or sneaking into Nvidia's
            $2 dinner or pride parade (before you ask, I had a roommate who was an intern there), but most importantly I
            was't being interviewed at house parties on what my job functions were anymore. Yes, you heard me - there
            was a strong sense that new people you met were evaluating your potential as a resource than as a friend in
            San Jose. This didn't stop at people I met in the city, it was emphisized greatly in my coworkers who
            couldn't talk about anything <em>except</em> work. <strong>Your worth was determined by your
                function.</strong>
        </p>
        <br>
        <div class="divider"></div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 content-image" data-aos="fade-right">
                    <img src="assets/img/SC.jpg" alt="">
                </div>
                <div class="col-md-3 image-text sub-title">
                    So I moved...
                </div>
            </div>
        </div>
        <br>
        <p>
            Once my lease in San Jose was up, it was a no-brainer to move where I spent my time and I was even rather
            lucky
            as my office was the same distance away from where I had planned to move. I recall telling my
            boss my plans, which were already in motion might I add, and being asking if I would still be able to make
            it into work at the same frequency. Here was when I began to notice that <strong>my work
                did not care about
                my happiness.</strong>
            <br><br>
            I was given a "gracious" amount of time off given my work was in tech - around 18
            days a year if I recall. Using this time off was another issue entirely, I would recieve strange looks and
            awkward
            pressure from my boss whenever I did ask. There was always <em>justification</em> required
            and when none of your coworkers/higher ups take time off, its hard to justify.
            But I kept in touch with my German friends, and they continued to point out to me that they had almost twice
            the amount of time off I did with
            none of this "justification" needed. They were getting <strong>30 days off per year!</strong>
        </p>
        <br>
        <div class="divider"></div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 image-text sub-title">
                    Side Topic: Heathcare...
                </div>
                <div class="col-md-9 content-image" data-aos="fade-left">
                    <img src="assets/img/healthcare.jpg" alt="">
                </div>
            </div>
        </div>
        <br>
        <p>
            Although this doesn't fit in with my work-centric discussion, I felt it was important to mention a random
            health care story that every American can relate to. When I first moved to California, I had two insurances.
            One with through my work and another from still being young enough to be on my family's plan. You would
            think I'm basically bullet-proof, <em>right</em>?
            <br><br>
            A friend and I had decided to go on a hike in the Santa Cruz mountains, and unfortunately a pretty heavy
            storm had rolled somewhere in the middle of this. It poured on us rather hard, so we ran back to the car and
            went home - it was during my shower I found a deer tick. Needless to say, that was not pleasant pulling that
            out.
            <br><br>
            Now I wouldn't have pursued this more but <em>coincidentally</em> I had also had quite the joint pain from a
            recent car-camping trip to see another friend in San Diego. With a deer tick comes the potential for Lyme
            disease, and that just happens to manifest itself as joint pain. So seeing a doctor was now a pretty good
            idea.
            <br><br>
            I went to a nearby urgent care, and had a subsequent blood panel to screen for the disease. Fortunately,
            there was no problems and life continued as normal.
            <br><br>
            Until 2 months had passed, where I recieved a bill for <strong>$800</strong>.
            <br><br>
            In Vancouver, I broke my shoulder snowboarding and paid nothing. I lived for 2 years in Canada without a
            single medical expense and now I have two health insurances that can't pay for a blood panel, let alone the
            panel costing an absurd amount.
            <br><br>
            I fought this bill for three months until it was dropped. <strong>Even the healthcare system was not
                designed for me.</strong>
        </p>
        <br>
        <div class="divider"></div>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 content-image" data-aos="fade-right">
                    <img src="assets/img/Duesseldorf_skyline.png" alt="">
                </div>
                <div class="col-md-3 image-text sub-title">
                    Making the decision...
                </div>
            </div>
        </div>
        <br>
        <p>
            One day while I was out surfing, I met yet another German and again quickly made a friend. It was here I
            realized
            the final piece to the puzzle that had taken form in front of me: <strong> I get along with Germans better
                than with Americans! </strong> If I had to pin point why, I'd
            believe it is the consistent <em> open-minded and tolerant </em> people I had met from Germany that
            resonated
            with me. Compound this with how each public system around me had been designed to exploit and extract, and
            add the deteriorating political situation, my
            choice to immigrate became clear.
            <br><br />
            Starting in 2020, after around 2 years in California, I had officially decided that I must start making
            preparations. I began learning German through <a href="https://www.duolingo.com/" target="_blank"
                rel="noopener noreferrer"> Duolingo </a> and <a href="https://learngerman.dw.com/en/overview"
                target="_blank" rel="noopener noreferrer"> Deutche Welle </a> (I'll address how I feel about these
            language
            learning tools in a future post) for about a year and investigating immigration pathways. Both luckily and
            unfortunately, 2020 also held the pandemic. The <em> good news </em> is that I has more time to plan my
            move,
            and I think we all know the <em> bad news... </em>
            <br /> <br />
            After much struggle, and many plans that fell through, I announced to my boss in June of 2021 that I would
            be
            leaving for Germany that August - it was the best move I ever made.
        </p>
    </div>
</section>

<section class="content-section">
    <div class="title">
        {{blog.content[1]}}
    </div>
    <blockquote class="sidekick">
        My favorite things in life don't cost any money. It's really clear that the most precious resource we all have
        is time.
        <cite> Steve Jobs</cite>
    </blockquote>
    <div class="body">
        <p class="dropcap">
            Some resources I have found along the way may provide use to others who don't know what to look for.
            Hopefully you as the reader may find help in any of these links!
        </p>
        <br>
        <div class="sub-title">
            <a href="https://www.youtube.com/channel/UCsseMKDbfwZMoJEtQXA2Ijw/videos">Obanuu - Youtube</a>
        </div>
        <p>
            Here is a playlist of videos that helped me to learn about immigration opportunities. As a bonus, Mik is
            such a wonderful human and will even provide advice if you write to his <a
                href="https://www.facebook.com/groups/migrationgermany/about">facebook group</a>.
        </p>
    </div>
</section>

<app-like-button [page]="page"></app-like-button>