<footer class="bg-dark text-white">
    <div class="container-fluid pb-1">
        <div class="row mb-3">
            <div class="col-md-6">
                Like what you see? Find me elsewhere!
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 d-flex flex-row justify-content-between socials">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/cody-griffith-8771a8145/">
                    <fa-icon [icon]="faLinkedin" class="fa-2x"></fa-icon>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/Mathnstein">
                    <fa-icon [icon]="faGithub" class="fa-2x"></fa-icon>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/cody.griffith.10">
                    <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://Mathnstein.github.io">
                    <img src="assets/img/website-icon.png">
                </a>
            </div>
            <div class="col-md-7 text-right align-self-end">©{{year}} <strong>Cody Griffith</strong>. All Rights
                Reserved.</div>
        </div>
    </div>
</footer>